*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* header contents */
.material-symbols-outlined{
    color:rgb(69, 63, 63);
    cursor:pointer;
}
.material-symbols-outlined:hover{
    background-color:rgb(232, 223, 223);

}
.header{
    display:flex;
    justify-content:space-between; 
    align-items:center;
}
.image{
    margin-top:10px;
}
.header_input input{
    width:80%;
    margin-left:10px;
    padding:5px;
}
.header_input{
    width:900px;
    height:20px;
}
.header_icons {
    display: flex;
    align-items: center;
    gap: 15px;
}
/* side-bar contennts */
.sidebar{
height:100%;
width:230px;
overflow-y:scroll;
background-color:white;
}

.sidebar_categories{
    width:100%;
    display:flex;
    flex-direction:column;
    margin-top:15px;
    margin-bottom:15px;

}
.category{
    display:flex;
    padding:12px 25px;
    align-items:center;
    cursor:pointer;
}
.category:hover{
background-color:rgb(221, 211, 211);
}
.main_body{
    display:flex;
}
/* video section */
.video_section{
    width:100%;

}

/* video content */
.video_section{
    width:100%;
    height:100%;
    overflow-y:scroll;

}
.video{
    width:300px;
    margin:0px 5px 30px  5px;
    cursor:pointer;
}
.video:hover{
    background-color:rgb(221, 211, 211);
    transform:scale(1.08);
}
.video_container{
        display: flex;
    flex-direction: row;
    justify-content: space-around;  /* it makes space between the items  */
    flex-wrap: wrap;  /*if item overflow --> go to next row */
}
.video_details{
    display:flex;
    margin-top:10px;

}
.logo img{
    margin-top:10px;
    border-radius:50%;
    object-fit:cover;
    margin-right:10px;
}
h3{
    font-size:14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

